/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2018, 14:49:50
    Author     : Allison
*/

.error {
    -fx-background-color: #FF000055;
}

/*.success {
    -fx-background-color: #00FF0055;
}*/