/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2018, 17:29:50
    Author     : allison
*/

#tabela_notas .table-row-cell:selected {
    -fx-background-color: #2990BE !important;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: black !important;
    /*-fx-selection-bar-non-focused: #CCC;*/
}

.table-row-cell{ 
    -fx-table-cell-border-color: #CCC;
    -fx-border-width: 1 1 0 0;
}

/*.text-field {
    -fx-font-size: 12pt;
}*/
/*#tabela_notas column-header{
    -fx-font-size: 12;
}*/

.table-cell {
    -fx-border-color: #CCC;
    -fx-table-cell-border-color: #CCC;
    -fx-border-width: 1 1 0 0;
}