#bg_painel_superior {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #114d64, #0084af);
}

#sombra-titulos{
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.9), 10, 0.5, 0.0, 0.0 );
    -fx-background-radius: 5;
    -fx-padding: 5
        ;
}