/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/02/2018, 18:00:02
    Author     : allison
*/

.tree-view, .tree-cell {
    -fx-text-fill: black ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #A7A7A7;
}

.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
    -fx-background-color: #A7A7A7;
}

.tree-cell:hover{
    /*-fx-font-style: h*/
    -fx-underline: true;
}

.tree-cell:selected{
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
